#layout {
    margin-left: 10%;
    margin-right: 50%;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    grid-auto-rows: minmax(1em, auto);
}

header{
    margin: 0;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

#p1{
    margin: 0;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

#nameValidation{
    padding: 0;
    margin: 0;
    color: red;
    font-size: 0.8em;

    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}

#idName{

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

#p2{
    margin: 0;
     grid-row-start: 4;
     grid-row-end: 5;
     grid-column-start: 1;
     grid-column-end: 2;
 }
#mailValidation{
    padding: 0;
    margin: 0;
    color: red;
    font-size: 0.8em;

    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
}

#idMail{

    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}

#p3{
    margin: 0;
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
}

#password1Validation{
    padding: 0;
    margin: 0;
    color: red;
    font-size: 0.8em;

    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 3;
}

#idPassword{

    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
}

#p4{
    margin: 0;
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 2;
}

#password2Validation{
    padding: 0;
    margin: 0;
    color: red;
    font-size: 0.8em;

    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 3;
}

#idREPassword{

    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 2;
    grid-column-end: 3;
}

#p5{
    margin: 0;
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 2;
}

#mobileValidation{
    padding: 0;
    margin: 0;
    color: red;
    font-size: 0.8em;

    grid-row-start: 11;
    grid-row-end: 12;
    grid-column-start: 2;
    grid-column-end: 3;
}

#idMobile{

    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end: 3;
}

#idSubmit{
    grid-row-start: 12;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 2;
}